/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row {
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
    margin-top: 10px;
    margin: 0 auto;
    padding: 0;
    color: #F2784B;
    background-color: transparent;
}

.jumbotron h1,
.jumbotron .h1 {
    text-align: center;
}

.label {
    display: inline-block;
    font-size: 24px;
    margin: 2px auto;
    background-color: #2c3e50;
}

@media screen and (max-width: 600px) {
    .label {
        /*font-size: 18px;*/
    }
}

.label:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #1a242f;
    border-color: #161f29;
}

.label-school {
    background-color: #2c3e50;
}

.label-college {
    background-color: #2c3e50;
}

.label-language {
    background-color: #2c3e50;
}

.label-computer {
    background-color: #2c3e50;
}

.label-dance {
    background-color: #2c3e50;
}

.label-music {
    background-color: #2c3e50;
}

.label-abacus {
    background-color: #2c3e50;
}

.label-calligraphy {
    background-color: #2c3e50;
}

.label-karate {
    background-color: #2c3e50;
}

.label-law {
    background-color: #2c3e50;
}

.label-class {
    background-color: #2c3e50;
}

.btn-search {
    color: #ffffff;
    font-weight: bold;
    margin: 0.5em auto;
    font-size: 24px;
    padding: 10px 30px;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-back {
    color: #ffffff;
    font-weight: bold;
    margin: 0.5em auto;
    padding: 10px 30px;
    background-color: #F2784B;
    border-color: #F2784B;
}

.btn-back:hover,
.btn-back:focus,
.btn-back:active {
    color: #000000;
    font-weight: bold;
    background-color: #F2784B;
    border-color: #F2784B;
}

.list-group {
    max-width: 700px;
    width: 90%;
    margin: 30px auto;
}

.list-group-item {
    color: white;
    margin-bottom: 10px;
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
    text-align: left;
    font-weight: bold;
    border-radius: 4px;
}

.top-bar {
    position: relative;
    display: block;
    width: 100%;
    min-height: 60px;
    font-size: 15px;
    background: #2c3e50;
    color: #fff;
    /*text-align: center;*/
    padding: 0 10px;
    font-weight: bold;
}

.register {
    display: inline-block;
    font-size: 15px;
    margin: 15px auto;
}

footer {
    font-size: 12px;
}


/* --------------------------------
Form
-------------------------------- */

.cd-form {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.cd-form::after {
    clear: both;
    content: "";
    display: table;
}

.cd-form fieldset {
    margin: 24px 0;
}

.cd-form legend {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    border-bottom: 1px solid #ecf0f1;
}

.cd-form div {
    /* form element wrapper */
    position: relative;
    margin: 20px 0;
}

.cd-form h4,
.cd-form .cd-label {
    color: #94aab0;
    margin-bottom: 10px;
    text-align: left;
}

.cd-form .cd-label {
    display: block;
}

.cd-form input,
.cd-form textarea,
.cd-form select,
.cd-form label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #2b3e51;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="number"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="number"],
.cd-form textarea,
.cd-form select {
    /* general style for input elements */
    padding: 12px;
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form input[type="number"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
    outline: none;
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.cd-form .cd-select {
    /* select element wapper */
    position: relative;
}

.cd-form .cd-select::after {
    /* arrow icon for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
}

.cd-form select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.cd-form select::-ms-expand {
    display: none;
}

.cd-form .cd-form-list {
    margin-top: 16px;
}

.cd-form .cd-form-list::after {
    clear: both;
    content: "";
    display: table;
}

.cd-form .cd-form-list li {
    /* wrapper for radio and checkbox input types */
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 26px 16px 0;
    float: left;
}

.cd-form input[type=radio],
.cd-form input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}

.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
    padding-left: 24px;
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
    border: 1px solid #2C3E50;
    background: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
    border-radius: 50%;
}

.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
    border-radius: .25em;
}

.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
    background-color: #2c97de;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
    display: none;
}

.cd-form input[type="radio"] + label::after {
    /* custom image for radio button */
    background-image: url("../img/cd-icon-radio.svg");
}

.cd-form input[type="checkbox"] + label::after {
    /* custom image for checkbox */
    background-image: url("../img/cd-icon-check.svg");
}

.cd-form input[type="radio"]:focus + label::before,
.cd-form input[type="checkbox"]:focus + label::before {
    /* add focus effect for radio and check buttons */
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}

.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
    display: block;
}

.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
    -webkit-animation: cd-bounce 0.3s;
    -moz-animation: cd-bounce 0.3s;
    animation: cd-bounce 0.3s;
}

.cd-form textarea {
    min-height: 200px;
    resize: vertical;
    overflow: auto;
}

.cd-form input[type="submit"] {
    /* button style */
    border: none;
    background: #2c97de;
    border-radius: .25em;
    padding: 16px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .cd-form input[type="submit"]:hover {
    background: #42a2e1;
}

.cd-form input[type="submit"]:focus {
    outline: none;
    background: #2b3e51;
}

.cd-form input[type="submit"]:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.cd-form [required] {
    background: url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: .25em;
    padding: 16px;
}

.cd-form .error {
    border-color: #e94b35 !important;
}

@media only screen and (min-width: 600px) {
    .cd-form div {
        /* form element wrapper */
        margin: 32px 0;
    }
    .cd-form legend + div {
        /* reduce margin-top for first form element after the legend */
        margin-top: 20px;
    }
    .cd-form h4,
    .cd-form .cd-label {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .cd-form input[type="text"],
    .cd-form input[type="email"],
    .cd-form input[type="number"],
    .cd-form textarea,
    .cd-form select {
        padding: 16px;
    }
}

@-webkit-keyframes cd-bounce {
    0%,
    100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
}

@-moz-keyframes cd-bounce {
    0%,
    100% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.8);
    }
}

@keyframes cd-bounce {
    0%,
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
}


/* -------------------------------- 

Custom icons

-------------------------------- */

.cd-form .icon input,
.cd-form .icon select,
.cd-form .icon textarea {
    padding-left: 54px !important;
}

.cd-form .user {
    background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}

.cd-form [required].user {
    background: url("../img/cd-icon-user.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .board {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center;
}

.cd-form [required].board {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .class {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center;
}

.cd-form [required].class {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .subject {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center;
}

.cd-form [required].subject {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .skill {
    background: url("../img/cd-icon-budget.svg") no-repeat 16px center;
}

.cd-form [required].skill {
    background: url("../img/cd-icon-budget.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .stream {
    background: url("../img/cd-icon-budget.svg") no-repeat 16px center;
}

.cd-form [required].stream {
    background: url("../img/cd-icon-budget.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .address {
    background: url("../img/cd-icon-message.svg") no-repeat 16px center;
}

.cd-form [required].address {
    background: url("../img/cd-icon-message.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .area {
    background: url("../img/cd-icon-message.svg") no-repeat 16px center;
}

.cd-form [required].area {
    background: url("../img/cd-icon-message.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .mobile {
    background: url("../img/cd-icon-message.svg") no-repeat 16px center;
}

.cd-form [required].mobile {
    background: url("../img/cd-icon-message.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .message {
    background: url("../img/cd-icon-message.svg") no-repeat 16px 16px;
}

.cd-form [required].message {
    background: url("../img/cd-icon-message.svg") no-repeat 16px 16px, url("../img/cd-required.svg") no-repeat top right;
}


/* -------------------------------- 

FLoating labels 

-------------------------------- */

.floating-labels div {
    margin: 28px 0;
}

.floating-labels .cd-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.6rem;
    cursor: text;
    -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
    -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
    transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.floating-labels .icon .cd-label {
    left: 56px;
}

.floating-labels .cd-label.float {
    /* move label out the input field */
    font-size: 1.2rem;
    top: -16px;
    left: 0 !important;
}

@media only screen and (min-width: 600px) {
    .floating-labels legend + div {
        /* reduce margin-top for first form element after the legend */
        margin-top: 16px;
    }
    .floating-labels .cd-label {
        top: 20px;
    }
}


/* -------------------------------- 

Result list

-------------------------------- */

.surveys {
    list-style: none;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 0;
    text-align: left;
}

.survey-item {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background: #2C3E50;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

.survey-name {
    font-weight: 400;
}

.list .survey-item {
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
}

.list .survey-item .pull-right {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 800px) {
    .list .survey-item .stage:not(.active) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .list .survey-item .survey-progress-bg {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .list .survey-item .pull-right {
        position: static;
        line-height: 20px;
        padding-bottom: 10px;
    }
}

.list .survey-country,
.list .survey-progress,
.list .survey-completes,
.list .survey-end-date {
    color: #ffffff;
}

.list .survey-country,
.list .survey-completes,
.list .survey-end-date,
.list .survey-name,
.list .survey-stage {
    margin: 0 10px;
}

.list .survey-country {
    margin-right: 0;
}

.list .survey-end-date,
.list .survey-completes,
.list .survey-country,
.list .survey-name {
    vertical-align: middle;
}

.list .survey-end-date {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.survey-stage .stage {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;
    background: #f2f2f2;
    text-indent: -9999px;
    color: transparent;
    line-height: 16px;
}

.survey-stage .stage.active {
    background: #ffffff;
}

.list .list-only {
    display: auto;
}

.list .grid-only {
    display: none !important;
}

.grid .grid-only {
    display: auto;
}

.grid .list-only {
    display: none !important;
}

.grid .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 230px;
    margin: 8.5px;
}

@media screen and (max-width: 600px) {
    .grid .survey-item {
        display: block;
        width: auto;
        height: 150px;
        margin: 10px auto;
    }
}

.grid .survey-name {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
    /*text-align: center;*/
    margin: 5px 0 10px 0;
}

.grid .survey-category,
.grid .survey-contact {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.grid .survey-category {
    color: #ffffff;
}

.grid .survey-end-date:before {
    content: 'Ends\00a0';
}

.grid .survey-end-date.ended:before {
    content: 'Ended\00a0';
}

.grid .survey-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
}

.grid .survey-progress-bg {
    width: 40%;
    display: block;
}

@media screen and (max-width: 200px) {
    .grid .survey-progress-bg {
        display: none;
    }
}

.grid .survey-progress-labels {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 40px;
}

@media screen and (max-width: 200px) {
    .grid .survey-progress-labels {
        right: auto;
        left: 10px;
    }
}

.grid .survey-progress-label {
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
}

.grid .survey-completes {
    line-height: 21px;
    font-size: 13px;
    vertical-align: middle;
}

.grid .survey-stage {
    position: absolute;
    top: 20px;
    right: 20px;
}

.grid .survey-stage .stage {
    display: none;
}

.grid .survey-stage .active {
    display: block;
}

.grid .survey-end-date {
    font-size: 12px;
    line-height: 20px;
}

.survey-progress-label {
    vertical-align: middle;
    margin: 0 10px;
    color: #8DC63F;
}

.survey-progress-bg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #eee;
}

.survey-progress-fg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    background: #8DC63F;
}

#resultContainer {
    width: 100%;
    /*height: 400px;*/
    top: 20px;
    left: 20px;
    overflow: hidden;
    font-family: sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#resultContainer #content {
    background: white;
    width: 100%;
    -webkit-transform-origin: left top;
    -webkit-transform: translateZ(0);
    -moz-transform-origin: left top;
    -moz-transform: translateZ(0);
    -ms-transform-origin: left top;
    -ms-transform: translateZ(0);
    -o-transform-origin: left top;
    -o-transform: translateZ(0);
    transform-origin: left top;
    transform: translateZ(0);
}

#resultContainer .rowData {
    height: 50px;
    width: 100%;
    display: block;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    text-indent: 10px;
    margin: auto;
}

#listData a {
    float: right;
    margin-right: 12px;
    font-size: 15px;
    font-weight: bold;
}
